- model_class = Idea
.page-header
  %h1=t '.title', :default => model_class.model_name.human

%p
  %strong= model_class.human_attribute_name(:name) + ':'
  %br
  = @idea.name
%p
  %strong= model_class.human_attribute_name(:description) + ':'
  %br
  = @idea.description
%p
  %strong= model_class.human_attribute_name(:picture) + ':'
  %br
  = image_tag(@idea.picture_url, width: 600) if @idea.picture.present?

%h3 Comments
%table.table.table-striped.table-condenced
  %tbody
    - @idea.comments.all.each do |comment|
      %tr
        %td
          %strong= comment.user_name
          %br
          %p= comment.body
          %p
            = link_to 'Delete', comment_path(comment), method: :delete,
              data: { confirm: '削除してもよろしいですか？' }

= render 'comments/form'

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), ideas_path, :class => 'btn'
